@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 250px auto 80px;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    header {
        text-align: center;
        grid-area: header;
        font-size: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        small {
            margin-top: 1em;
            font-size: 20px;
        }
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

}